{
    "env": {
        "development": {
	    "presets": [
		["@babel/preset-env", {
		    "targets": {
			"node": "6.10",
             "browsers": "> 0.25%, not dead"
		    }
		}]
	    ],
	    "plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
	    ]
	},
        "browser": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "browsers": "last 2 versions, ie 10-11"
                    },
                    "modules": false
                }]
            ],
	    "plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
	    ]
        },
    },
    "sourceMaps": true
}
